bux-components:registry=http://nexus.prod.ocp.absa.co.za/repository/npm-all/
registry=http://nexus.prod.ocp.absa.co.za/repository/npm-all/
@celine:registry=http://nexus.prod.ocp.absa.co.za/repository/npm-all/
