<div class="content">
    <div class="col-md-12">
        <h2>Welcome to the Micro-ui Starter Project</h2>
        <hr/>
        <div class="hpanel">
            <div class="panel-body">
                <br/>
                <br/> By using this project, you benefit from the following:
                <br/>
                <br/>
                <ul>
                    <li>Inheriting Layout, Styles and practices from Celine</li>
                    <li>The ability to independently deploy Angular Modules</li>
                    <li>Built in Authentication and Role Management</li>
                    <li>Seamless integration of components from the Component Library</li>
                    <li>Multiple themes</li>
                    <li>Multiple Layouts</li>
                </ul>
                <br/>
                <br/> Please see <a href="bux-kitchen-sink-bison-core-dev.nonprod.ocp.absa.co.za">Design System</a> for the
                following:
                <br/>
                <br/>
                <ul>
                    <li>Upcoming changes, features of latest versions of Celine and Micro-ui starter projects</li>
                    <li>Documentation around the benefits of using micro-service architecture for the fontends</li>
                    <li>Documentation regarding how this app is structured, design decisions and how to use the component library
                    </li>
                    <li>Steps regarding application deployment</li>
                    <li>Guidelines for contributing back to the component Library</li>
                </ul>
            </div>
        </div>
    </div>
</div>