<div class="content">
    <div class="col-md-12">
        <h2>Celine</h2>
        <hr/>
        <div class="hpanel">
            <div class="panel-body">
                <br/>
                <br/> By using this project, you benefit from the following:
                <br/>
                <br/>
                <ul>
                    <li>Inheriting Layout, Styles and practices from Celine</li>
                    <li>The ability to independently deploy Angular Modules</li>
                    <li>Built in Authentication and Role Management</li>
                    <li>Seamless integration of components from the Component Library</li>
                    <li>Multiple themes</li>
                    <li>Multiple Layouts</li>
                </ul>
                <br/>
                <br/> Please see <a href="bux-kitchen-sink-bison-core-dev.nonprod.ocp.absa.co.za">Design System</a> for the
                following:
                <br/>
                <br/>
                <ul>
                    <li>Upcoming changes, features of latest versions of Celine and Micro-ui starter projects</li>
                    <li>Documentation around the benefits of using micro-service architecture for the fontends</li>
                    <li>Documentation regarding how this app is structured, design decisions and how to use the component library
                    </li>
                    <li>Steps regarding application deployment</li>
                    <li>Guidelines for contributing back to the component Library</li>
                </ul>
            </div>
        </div>
        <hr/>
        <div class="hpanel">
            <div class="panel-body">
                <h2>Font Awesome</h2>
                Calendar Icon: <i class="fa fa-calendar" aria-hidden="true"></i>
            </div>
        </div>
        <hr/>
        <div class="hpanel">
            <div class="panel-body">
                <h2>Bux Components - Modal</h2>
                <button type="button" class="btn btn-sm btn-primary" (click)="infoModal.show()">Info modal</button>

                <div class="modal fade info" bsModal #infoModal="bs-modal" tabindex="-1">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <i class="fa fa-info-circle" aria-hidden="true"></i>

                                <button type="button" class="close pull-right" aria-label="Close" (click)="infoModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
                            </div>
                            <div class="modal-body">
                                <h5> Your heading text here</h5>
                                <p>Place your customised text here</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-primary secondary-button">Secondary</button>
                                <button type="button" class="btn btn-primary">Primary</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hpanel">
            <div class="panel-body">
                <h2>Bux Components - Wizard</h2>
                <bux-wizard (onStepChanged)="onStepChanged($event)">
                    <bux-wizard-step [title]="'Step1'" [showPrev]="false" (onNext)="onStep1Next($event)">
                        <h1>Content for Wizard</h1>
                    </bux-wizard-step>
                    <bux-wizard-step [title]="'Step2'" [showNext]="step2.showNext" [showPrev]="true" (onNext)="onStep2Next($event)">
                        <h1>Step2</h1>
                        <p class="lead">You can also control when to show/hide navigation buttons.</p>
                    </bux-wizard-step>
                    <bux-wizard-step [title]="'Step3'" (onNext)="onStep3Next($event)">
                        <h1>Step3</h1>
                        <p class="lead">There can also be secret steps included - use base on condition</p>
                    </bux-wizard-step>
                    <bux-wizard-step [title]="'Step4'" (onNext)="onStep4Next($event)">
                        <h1>Step4</h1>
                        <p class="lead">You may have a maximum of 5 steps and a minimum of 2.</p>
                    </bux-wizard-step>
                    <bux-wizard-step [title]="'Step5'" [hidden]="!showSecret" (onComplete)="onComplete($event)">
                        <div [ngSwitch]="isCompleted">
                            <div *ngSwitchDefault>
                                <h1>Step5</h1>
                                <p class="lead">This is the final step. </p>
                            </div>
                            <div *ngSwitchCase="true">
                                <h4>Thank you. You have completed all the steps.</h4>
                            </div>
                        </div>
                    </bux-wizard-step>
                </bux-wizard>
            </div>
        </div>

        <div class="hpanel">
            <div class="panel-body">
                <h2>Bux Date Picker</h2>
                <div class="col-lg-3">
                    <bux-date-picker (dateChange)="setStartDate($event)" [label]="'Start Date'"></bux-date-picker>
                </div>
                <div class="col-lg-3">
                    <bux-date-picker (dateChange)="setEndDate($event)" [label]="'End Date'" [minDate]="startDate"></bux-date-picker>
                </div>
            </div>
        </div>
    </div>
</div>