<div class="content">
    <div class="col-md-12">
        <h1>Welcome to the Micro-UI Starter Project</h1>
        <hr/>
        <div class="hpanel">
            <div class="panel-body">
                <br/>
                <br/> By using this project, you benefit from the following:
                <br/>
                <br/>
                <ul>
                    <li>Inheriting Layout, Styles and practices from Celine</li>
                    <li>The ability to independently deploy Angular Modules</li>
                    <li>Built in Authentication and Role Management</li>
                    <li>Seamless integration of components from the Component Library</li>
                    <li>Multiple themes</li>
                    <li>Multiple Layouts</li>
                </ul>
                <br/>
                <br/> Please see <a href="bux-kitchen-sink-bison-core-dev.nonprod.ocp.absa.co.za">Design System</a> for the
                following:
                <br/>
                <br/>
                <ul>
                    <li>Upcoming changes, features of latest versions of Celine and Micro-ui starter projects</li>
                    <li>Documentation around the benefits of using micro-service architecture for the fontends</li>
                    <li>Documentation regarding how this app is structured, design decisions and how to use the component library
                    </li>
                    <li>Steps regarding application deployment</li>
                    <li>Guidelines for contributing back to the component Library</li>
                </ul>
                <br/>
                <h2>REDUX store</h2>
                <hr/>
                <h3>Information from Info module</h3>
                <h4>Project Info (from local store) </h4>
                <h6>Name: <b>{{(info$ | async)?.projectName}}</b></h6>
                <h6>Version: <b>{{(info$ | async)?.projectVersion}}</b></h6>
                <hr>
                <h3>Information from Home module</h3>
                <h4>User Info (from application store) </h4>
                <h6>Username: <b>{{(user$ | async)?.username}}</b></h6>
                <h6>First Name: <b>{{(user$ | async)?.firstName}}</b></h6>
                <h6>Last Name: <b>{{(user$ | async)?.lastName}}</b></h6>
            </div>
        </div>
    </div>
</div>